<%- include('_header.ejs') %>

    <body>
        <div class=" container-fluid mb-5 mt-5 w-50 p-5 shadow p-3 mb-5 bg-tertiary rounded-5">
            <div class="container-fluid m-auto d-flex justify-content-center mb-3">
                <h2>CREATE A NEW CARD</h2>
            </div>           
            <div class="mb-3 mt-2">
                <form action="/create" method="post">
                    <div class="input-group rounded">
                        <span class="input-group-text">Card Title</span>
                        <input class="form-control rounded-end" type="text" placeholder="Ingrese título" name="title"
                            aria-label="basic-addon3 basic-addon4">

                        <span class="input-group-text rounded-start ms-2">Add URL</span>
                        <input class="form-control rounded-end" type="text" placeholder="Ingrese URL de imagen"
                            name="url" aria-label="basic-addon3 basic-addon4">
                    </div>

                    <div class="input-group mt-3" id="basic-addon4">
                        <span class="input-group-text">Description</span>
                        <textarea class="form-control" placeholder="Add a description a comment for your card." rows="3"
                            name="description"></textarea>
                    </div>
                    <div class="container-fluid d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-outline-success d-flex justify-content-evenly mx-3">Create</button>
                        <button type="reset" class="btn btn-outline-secondary d-flex justify-content-evenly">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <%- include('_footer.ejs') %>