<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h1>BLOG</h1>
            <form class="d-flex mx-5" role="search">
                <button class="btn btn-outline-success mx-2" type="submit">Inicio</button>
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" /> -->
                <button class="btn btn-outline-success mx-5" type="submit">Crear</button>
            </form>
        </div>
    </nav>
</header>
<hr>