<%- include('_header.ejs') %>

    <body>

        <h1 class="mx-3">
            <%= titulo %>
        </h1>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100 mx-3">
                    <img src="/nodejs/ejs/blog/img/body.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ut doloremque impedit ab explicabo. Adipisci laudantium dicta quod corporis iste repudiandae. Fugit repudiandae sit nobis, repellendus harum dolores blanditiis nostrum.</p>
                        <br><br>
                        <div class="position-absolute bottom-0 start-0 m-1">
                            <a href="#" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="position-absolute bottom-0 end-0 m-1">
                            <a href="#" class="btn btn-primary">See more</a>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mx-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mx-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mx-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mx-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mx-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <%- include('_footer.ejs') %>