body{
    background-color: beige;
}
.center{
    text-align: center;
    flex-direction: column;
    background-color: beige;
}

.input{
    text-align: center;
    border: 1px black solid;
}

#textarea{
    text-align: center;
    width: 200px;
    height: 100px;
    border: 1px solid black;    
}